<header>
  <span class="logo"></span>
  <a [routerLink]="['/float']" [routerLinkActive]="['active']">
    Floating
  </a>
  <a [routerLink]="['/eCat']" [routerLinkActive]="['active']">
    e-Category
  </a>
  <a [routerLink]="['/timer']" [routerLinkActive]="['active']">
    Timer-1
  </a>
  <a [routerLink]="['/timer2']" [routerLinkActive]="['active']">
    Timer-2
  </a>
  <a [routerLink]="['/sMarks']" [routerLinkActive]="['active']">
    Students
  </a>
  <a [routerLink]="['/dyDiv']" [routerLinkActive]="['active']">
    Dynamic
  </a>
</header>
<router-outlet></router-outlet>