header {
    width: 100%;
    height: 40px;
    background: #e2e1e1;
    a{ 
        text-decoration: none;
        width: 100px;
        display: inline-block;
        text-align: center;
        padding: 10px;
    }
    a.active {
        background: #c8d6d4;
    }
}
