h4{
    margin: 10px 0;
    text-align: center;
}
.view {
    margin: 40px auto;
    height: 400px;
    width: 210px;
    .dynamic-div {
        width: 200px;
        height: 200px;
        background: #3b5843;
        position: relative;
        border-bottom: 1px solid #a8dab5;
        button {
            width: 80%;
            background: #a8dab5;
            border: 1px solid #90b690;
            margin: auto;
            left: 0;
            right: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            height: 36px;
            border-radius: 3px;
            cursor: pointer;
        }
    }
}